<!DOCTYPE HTML>
<html>

<head>
    <title>Heat Map Demo II</title>
    <meta name="keywords" content="HTML, heatmap">
    <script src="javascripts/jquery-2.1.3.min.js"></script>
    <script src="javascripts/heatmap.js"></script>
    <script src="javascripts/StoreHeat2.js"></script>
    <link href="stylesheets/StoreHeat2.css" type="stylesheet/text/" rel="stylesheet" />
</head>

<body>
    <p>
        <h2><center>Store Flow</h2></center>
    </p>
    <div class="demo-wrapper">
    </div>
    <div class="button-bar">
        <button id="mode">Draw</button>
        <button id="reset">Clear</button>
        <!-- Test buttons -->
        <button id="fetch" class="test">Fetch</button>
        <button id="push" class="test">Test</button>
    </div>
</body>

</html>
